@charset "UTF-8";
/*Maps*/
/*Finaliza maps*/
/*Color de los títulos*/
h1 {
  color: #1DB9C3; }

h2 {
  color: #F56FAD; }

/*Cuerpo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%); }
  body .contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto; }
    body .contenedor .logo {
      margin: 20px 0px 10px 120px; }
  body h1 {
    text-align: center;
    padding: 1px;
    text-shadow: 0 0 1px #00b2ff, 0 0 2px #00b2ff, 0 0 3px #00b2ff, 0 0 4px #26687f, 0 0 8px #26687f;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 38px;
    letter-spacing: 4px;
    word-spacing: 1.5px; }

/*Menú*/
nav ul li {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center; }

/*Titulos y textos*/
.texto {
  margin: 20px 150px;
  padding: 20px;
  border-width: 5px; }

h2 {
  text-shadow: 0 0 1px #00b2ff, 0 0 2px #00b2ff, 0 0 3px #00b2ff, 0 0 4px #26687f, 0 0 8px #26687f;
  margin: 20px 0px;
  padding: 0.5rem;
  border: 3px solid #F56FAD;
  border-radius: 13px;
  display: inline-block;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2px; }

h4 {
  margin: 0% 10%;
  text-align: center;
  padding: 0.50rem;
  font-weight: bold;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 30px;
  border: #4a0c63 solid 2%;
  background-color: #6a93cb;
  background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
  border-radius: 0.5rem;
  opacity: 85%; }

p {
  color: #A6F6F1;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 20px;
  letter-spacing: 1.2px; }

/*Finaliza títulos y textos*/
/*Footer*/
.footer {
  color: blueviolet;
  text-align: center; }
  .footer .derecho {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-top: 15px; }
  .footer .fab {
    font-size: 30px;
    margin-bottom: 20px; }

.textoDerecha {
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: right; }

.titulos {
  margin: 20px 150px;
  padding: 20px;
  border-width: 5px; }
  .titulos h2 {
    color: #F56FAD;
    text-shadow: 0 0 1px #00b2ff, 0 0 2px #00b2ff, 0 0 3px #00b2ff, 0 0 4px #26687f, 0 0 8px #26687f;
    margin: 20px 0px;
    padding: 0.5rem;
    border: 3px solid #F56FAD;
    border-radius: 13px;
    display: inline-block;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.4px; }

.peliculas {
  color: #F56FAD; }

.titulos section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .titulos section img {
    width: 300px;
    height: 450x;
    opacity: .7;
    border: 2px solid #7027A0;
    text-align: center; }
    .titulos section img:hover {
      opacity: 1;
      border: 2px solid #F56FAD; }

.cajaNovedades {
  width: 200%;
  max-width: 70vw;
  margin: 30px auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "oro oro oro oro" "plata plata bronce alta" "media media baja baja";
  gap: 1.5%;
  justify-items: center; }
  .cajaNovedades .cajaHijo {
    width: 100%;
    height: 50vh;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .cajaNovedades .oro {
    background-image: url(../img/fondoeljuegodelcalamar.jpg);
    background-size: cover;
    grid-area: oro; }
  .cajaNovedades .plata {
    background-image: url(../img/fondohalloween.jpg);
    background-size: cover;
    grid-area: plata; }
  .cajaNovedades .bronce {
    background-image: url(../img/fondoemmys.jpg);
    background-size: cover;
    grid-area: bronce; }
  .cajaNovedades .alta {
    background-image: url(../img/fondobritney.jpg);
    background-size: cover;
    grid-area: alta; }
  .cajaNovedades .media {
    background-image: url(../img/fondoprimevideo.jpg);
    background-size: cover;
    grid-area: media; }
  .cajaNovedades .baja {
    background-image: url(../img/fondooctubre.jpg);
    background-size: cover;
    grid-area: baja; }

/*Trailers*/
h3 {
  color: #F56FAD;
  text-shadow: 0 0 1px #00b2ff, 0 0 2px #00b2ff, 0 0 3px #00b2ff, 0 0 4px #26687f, 0 0 8px #26687f; }

.trailer {
  margin: 10px 150px 20px 150px;
  padding: 20px;
  border-width: 10px;
  text-align: center; }

.flex_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #222;
  justify-content: center;
  margin: 50px 30px; }

.form {
  min-width: 400px;
  flex: 1;
  text-align: center;
  padding: 30px; }

.form__input {
  width: 100%;
  padding: 7px;
  margin: 6px 0;
  border: none;
  border-bottom: solid 3px #A6F6F1;
  background: transparent;
  color: #A6F6F1;
  font-size: 20px; }

.form__input:focus {
  background-color: #444;
  outline: none; }

.form textarea {
  min-height: 140px; }

.form__img {
  flex: 1;
  padding: 10px;
  display: flex; }

.form__img img {
  width: 30%;
  margin: auto; }

.form input:hover {
  color: #1DB9C3; }

/*Para móvil*/
@media only screen and (max-width: 576px) {
  h1 {
    margin-right: 100px; }
  h2 {
    font-size: 18px;
    letter-spacing: 1.1px; }
  p {
    font-size: 16px; }
  .texto {
    margin: 0px;
    padding: 20px;
    border-width: 5px; }
  .cajaNovedades {
    display: grid;
    margin: 0px 70px 150px;
    grid-template-rows: repeat 6, 1fr;
    grid-template-columns: auto;
    grid-template-areas: "oro" "plata" "bronce" "alta" "media" "baja"; }
  .trailer {
    margin: 0px;
    padding: 0px;
    border-width: 10px;
    text-align: center; } }

/*Para tablet*/
@media only screen and (min-width: 768px) {
  .cajaNovedades {
    display: grid;
    margin: 0px 150px 150px;
    grid-template-rows: repeat 6, 1fr;
    grid-template-columns: auto;
    grid-template-areas: "oro" "plata" "bronce" "alta" "media" "baja"; } }

/*Desktop*/
@media only screen and (min-width: 1024px) {
  .cajaNovedades {
    width: 200%;
    max-width: 70vw;
    margin: 30px auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "oro oro oro oro" "plata plata bronce alta" "media media baja baja";
    gap: 1.5%;
    justify-items: center; } }
