$bgneon: 
0 0 1px rgba(0,178,255,1),
0 0 2px rgba(0,178,255,1),
0 0 3px rgba(0,178,255,1),
0 0 4px rgba(38,104,127,1),
0 0 8px rgba(38,104,127,1);
$celeste: #A6F6F1;
$azul: #1DB9C3;
$rosa: #F56FAD;
$violeta: #7027A0;
